

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Emma</title>

    <!-- Bootstrap core CSS -->
    <link href="https://bootswatch.com/4/lux/bootstrap.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!-- Custom styles for this template -->
    <link href="https://v4-alpha.getbootstrap.com/examples/sticky-footer-navbar/sticky-footer-navbar.css" rel="stylesheet">
    <style type="text/css">
      .bg-inverse {
        background-color: rgba(255, 255, 255, 0.85) !important;
        border: 1px solid rgba(0, 0, 0, 0);
        opacity: inherit;
       }
      body > .container {
        padding: 105px 15px 0px;
      }
    </style>
</head>

<body>
<div class="navbar navbar-expand-lg fixed-top navbar-light bg-light">
    <div class="container">
        <div class="navbar-brand">

            <i class="fa fa-superpowers" aria-hidden="true"></i> Emma

            <br/>
            <i style="font-size: 0.765625rem">intelligent scrum master</i>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>


        <ul class="nav navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#" target="_blank"> <i class="fa fa-code" aria-hidden="true"></i>
                    Code</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" target="_blank"><i class="fa fa-video-camera" aria-hidden="true"></i>
                    Video</a>
            </li>
        </ul>

    </div>
</div>
</div>
<!-- Begin page content -->
<div class="container">
    <br/>
    <div class="row">
        <div class="col-12">

        <div id = "data" class="alert alert-success">

        </div>
        </div>
        <div class="col-8">
            <h3>Todays update</h3>
            <div id = "cp" class="list-group">

            </div>
        </div>

    </div>
</div>
</div>

<footer class="footer" style="position: fixed;">
    <div class="container">
        Built with <i class="fa fa-heart" aria-hidden="true"></i> by Kshitija, Raghav, Sachin, Shravan, Sunil, Sweek
    </div>
</footer>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script
        src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>

<script type="text/javascript">
    $.get("http://ec2-34-203-31-34.compute-1.amazonaws.com/data", function(data) {

         console.log(data);
         for (var i = 0; i < data.length; i++) {

            $("#cp").append(data[i]);
         }
        });
    $.get("http://ec2-34-203-31-34.compute-1.amazonaws.com/scrum/summary", function(data) {
        $("#data").append(data);
    });
</script>

<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
<script src="https://v4-alpha.getbootstrap.com/dist/js/bootstrap.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="https://v4-alpha.getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
</body>
</html>
